nodered-data/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "12a70121c8eae8c8",
        "type": "mqtt-broker",
        "name": "",
        "broker": " 185.45.204.21",
        "port": 1883,
        "clientid": "main-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d607c503f9433ebb",
        "type": "aedes broker",
        "z": "f6f2187d.f17ca8",
        "name": "My580MQTTBroker",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "persist_to_file": false,
        "usetls": false,
        "x": 290,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "0f9a6b5be67649ad",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "MQTT-Input",
        "topic": "sensordata/particle",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "12a70121c8eae8c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 380,
        "wires": [
            [
                "d07ca2811d0a73eb"
            ]
        ]
    },
    {
        "id": "d07ca2811d0a73eb",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "fdcd4d2dee8d27c1",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "John MQTT",
        "topic": "sensordata/particle",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "12a70121c8eae8c8",
        "x": 390,
        "y": 480,
        "wires": []
    },
    {
        "id": "1727413d3e11bfc6",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "fdcd4d2dee8d27c1"
            ]
        ]
    }
]